{% extends "base.html" %}
{% block content %}
<main class = "main main--about">
    <p>
       Hello I'm Titus! I'm a data scientist by training, and enjoy working on AI projects.
       Outside of work, I am a father of 2 beautiful children 👨‍🍼, and am also training myself to be a full stack developer - because I love coding.
       This website that you're at is one of my very first web development projects!
    </p>
    <p>
        Coding is extremely rewarding 👨🏻‍💻. Though there is something in building amazing tools with
        your own hands, it must be said that the journey is the biggest reward - especially the understanding of why
        some projects do not pan out, and how to take existing projects to the next level.
    </p>
    <p>
        I code primarily in Python (like most data scientists), and am experienced in the gamut of data science in domains
        such as computer vision, natural language processing, recommender systems, reinforcement learning, machine learning engineering,
        classical machine learning, etc. 
    </p>
    <p>
        I've also picked up mathematical programming (optimization), software engineering (developing APIs and 
        demo apps using Flask, Streamlit and FastAPI), NoSQL databases (MongoDB and Neo4j), and Linux.

        I also have some experience in C#, R, SAS and MATLAB.
    </p>
    <p>
        When not coding and playing with my children, I enjoy the game of Chess ♟️
    </p>
</main>
{% endblock %}