<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titus Lim | Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
<body>
    <header class="header">
        <h1>Titus Lim</h1>
        <nav class="nav">
            <a href="{{ url_for('pages.home') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('pages.home') }}">Projects</a>
            <a href="{{ url_for('pages.about') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('pages.about') }}">About</a>
            <a href="{{ url_for('pages.contact') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('pages.contact') }}">Contact</a>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>